.elementor-kit-1783{--e-global-color-primary:#4632DA;--e-global-color-secondary:#3D4459;--e-global-color-text:#353535;--e-global-color-accent:#06D9FA;--e-global-color-756ce19:#11212C;--e-global-color-f898f31:#FFFEFE;--e-global-color-0d046a4:#E9E9E9;--e-global-color-c6c574f:#F9F9F9;--e-global-color-7ad78f4:#FFFFFFE6;--e-global-color-8630d9f:#7E222200;--e-global-color-b500f0a:#FFFFFF;--e-global-color-3a3b385:#8D8583;--e-global-color-719c5c2:#B3AEAC;--e-global-color-8368192:#D9D6D6;--e-global-color-ea9a049:#2C2C2C;--e-global-typography-primary-font-family:"montserat";--e-global-typography-primary-font-size:45px;--e-global-typography-primary-font-weight:300;--e-global-typography-primary-text-transform:capitalize;--e-global-typography-primary-font-style:normal;--e-global-typography-primary-text-decoration:none;--e-global-typography-primary-line-height:1.2em;--e-global-typography-primary-letter-spacing:1px;--e-global-typography-secondary-font-family:"montserat";--e-global-typography-secondary-font-size:16px;--e-global-typography-secondary-font-weight:300;--e-global-typography-secondary-text-transform:capitalize;--e-global-typography-secondary-font-style:normal;--e-global-typography-secondary-text-decoration:none;--e-global-typography-secondary-letter-spacing:0px;--e-global-typography-text-font-family:"montserat";--e-global-typography-text-font-size:16px;--e-global-typography-text-font-weight:300;--e-global-typography-text-text-transform:none;--e-global-typography-text-font-style:normal;--e-global-typography-text-text-decoration:none;--e-global-typography-text-line-height:1.4em;--e-global-typography-text-letter-spacing:0px;--e-global-typography-text-word-spacing:0px;--e-global-typography-accent-font-family:"montserat";--e-global-typography-accent-font-size:16px;--e-global-typography-accent-font-weight:500;--e-global-typography-accent-text-transform:capitalize;--e-global-typography-accent-font-style:normal;--e-global-typography-accent-text-decoration:none;--e-global-typography-accent-line-height:1.2em;--e-global-typography-accent-letter-spacing:1px;--e-global-typography-b16b6a5-font-family:"montserat";--e-global-typography-b16b6a5-font-size:100px;--e-global-typography-b16b6a5-font-weight:100;--e-global-typography-b16b6a5-text-transform:uppercase;--e-global-typography-b16b6a5-line-height:100px;--e-global-typography-b16b6a5-letter-spacing:1px;--e-global-typography-2bd6faf-font-family:"montserat";--e-global-typography-2bd6faf-font-size:15px;--e-global-typography-2bd6faf-font-weight:500;--e-global-typography-6ed476c-font-family:"montserat";--e-global-typography-6ed476c-font-size:20px;--e-global-typography-6ed476c-font-weight:400;--e-global-typography-6ed476c-text-transform:capitalize;--e-global-typography-9525bd0-font-family:"montserat";--e-global-typography-9525bd0-font-size:20px;--e-global-typography-9525bd0-font-weight:300;--e-global-typography-9525bd0-text-transform:capitalize;--e-global-typography-cdaaf6a-font-family:"montserat";--e-global-typography-cdaaf6a-font-size:16px;--e-global-typography-cdaaf6a-font-weight:300;--e-global-typography-cdaaf6a-text-transform:capitalize;--e-global-typography-cdaaf6a-font-style:normal;--e-global-typography-0009af8-font-family:"montserat";--e-global-typography-0009af8-font-size:14px;--e-global-typography-0009af8-font-weight:400;--e-global-typography-0009af8-text-transform:capitalize;--e-global-typography-0009af8-font-style:normal;--e-global-typography-0009af8-letter-spacing:0px;--e-global-typography-ef2c50b-font-family:"montserat";--e-global-typography-ef2c50b-font-size:15px;--e-global-typography-ef2c50b-font-weight:300;--e-global-typography-f8a9e51-font-family:"montserat";--e-global-typography-f8a9e51-font-size:35px;--e-global-typography-f8a9e51-font-weight:300;--e-global-typography-f8a9e51-text-transform:capitalize;--e-global-typography-f8a9e51-line-height:1.2em;--e-global-typography-ccc280a-font-family:"montserat";--e-global-typography-ccc280a-font-size:80px;--e-global-typography-ccc280a-font-weight:300;--e-global-typography-ccc280a-text-transform:capitalize;--e-global-typography-ccc280a-line-height:1.2em;--e-global-typography-2c11d45-font-family:"montserat";--e-global-typography-2c11d45-font-size:50px;--e-global-typography-2c11d45-font-weight:500;--e-global-typography-2c11d45-text-transform:capitalize;--e-global-typography-2c11d45-line-height:1.2em;font-family:"montserat", Sans-serif;background-color:var( --e-global-color-ea9a049 );}.elementor-kit-1783 a{font-family:"montserat", Sans-serif;}.elementor-kit-1783 h1{font-family:var( --e-global-typography-b16b6a5-font-family ), Sans-serif;font-size:var( --e-global-typography-b16b6a5-font-size );font-weight:var( --e-global-typography-b16b6a5-font-weight );text-transform:var( --e-global-typography-b16b6a5-text-transform );line-height:var( --e-global-typography-b16b6a5-line-height );letter-spacing:var( --e-global-typography-b16b6a5-letter-spacing );word-spacing:var( --e-global-typography-b16b6a5-word-spacing );}.elementor-kit-1783 h2{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );text-transform:var( --e-global-typography-primary-text-transform );font-style:var( --e-global-typography-primary-font-style );text-decoration:var( --e-global-typography-primary-text-decoration );line-height:var( --e-global-typography-primary-line-height );letter-spacing:var( --e-global-typography-primary-letter-spacing );}.elementor-kit-1783 h3{font-family:"montserat", Sans-serif;}.elementor-kit-1783 h4{font-family:"montserat", Sans-serif;}.elementor-kit-1783 h5{font-family:"montserat", Sans-serif;}.elementor-kit-1783 h6{font-family:"montserat", Sans-serif;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1400px;}.e-con{--container-max-width:1400px;--container-default-padding-block-start:10px;--container-default-padding-inline-end:10px;--container-default-padding-block-end:10px;--container-default-padding-inline-start:10px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-1783 e-page-transition{background-color:#000000;}.site-header{padding-right:0px;padding-left:0px;}@media(max-width:1024px){.elementor-kit-1783{--e-global-typography-primary-font-size:32px;--e-global-typography-primary-line-height:1em;--e-global-typography-secondary-font-size:18px;--e-global-typography-text-font-size:15px;--e-global-typography-accent-font-size:15px;--e-global-typography-b16b6a5-font-size:72px;--e-global-typography-b16b6a5-line-height:1em;--e-global-typography-6ed476c-font-size:18px;--e-global-typography-9525bd0-font-size:18px;--e-global-typography-cdaaf6a-font-size:15px;--e-global-typography-0009af8-font-size:14px;--e-global-typography-ef2c50b-font-size:15px;--e-global-typography-f8a9e51-font-size:25px;--e-global-typography-ccc280a-font-size:70px;--e-global-typography-2c11d45-font-size:45px;}.elementor-kit-1783 h1{font-size:var( --e-global-typography-b16b6a5-font-size );line-height:var( --e-global-typography-b16b6a5-line-height );letter-spacing:var( --e-global-typography-b16b6a5-letter-spacing );word-spacing:var( --e-global-typography-b16b6a5-word-spacing );}.elementor-kit-1783 h2{font-size:var( --e-global-typography-primary-font-size );line-height:var( --e-global-typography-primary-line-height );letter-spacing:var( --e-global-typography-primary-letter-spacing );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-1783{--e-global-typography-primary-font-size:30px;--e-global-typography-secondary-font-size:16px;--e-global-typography-text-font-size:15px;--e-global-typography-accent-font-size:15px;--e-global-typography-b16b6a5-font-size:30px;--e-global-typography-6ed476c-font-size:20px;--e-global-typography-9525bd0-font-size:18px;--e-global-typography-cdaaf6a-font-size:15px;--e-global-typography-0009af8-font-size:14px;--e-global-typography-ef2c50b-font-size:15px;--e-global-typography-f8a9e51-font-size:25px;--e-global-typography-ccc280a-font-size:50px;--e-global-typography-2c11d45-font-size:35px;}.elementor-kit-1783 h1{font-size:var( --e-global-typography-b16b6a5-font-size );line-height:var( --e-global-typography-b16b6a5-line-height );letter-spacing:var( --e-global-typography-b16b6a5-letter-spacing );word-spacing:var( --e-global-typography-b16b6a5-word-spacing );}.elementor-kit-1783 h2{font-size:var( --e-global-typography-primary-font-size );line-height:var( --e-global-typography-primary-line-height );letter-spacing:var( --e-global-typography-primary-letter-spacing );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS *//* Improved Animations Stylesheet from https://element.how/elementor-improve-entrance-animations/ , works for the 'fade' animations */

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translate3d(0,-30px,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.elementor-element.fadeInDown {
    animation-name: fadeDown
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        transform: translate3d(-30px,0,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.elementor-element.fadeInLeft {
    animation-name: fadeLeft
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translate3d(30px,0,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.elementor-element.fadeInRight {
    animation-name: fadeRight
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translate3d(0,30px,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.elementor-element.fadeInUp {
    animation-name: fadeUp
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'montserat';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://fachinformatiker.github.io/wordpress_test/wp-content/uploads/2022/11/Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'montserat';
	font-style: italic;
	font-weight: normal;
	font-display: auto;
	src: url('https://fachinformatiker.github.io/wordpress_test/wp-content/uploads/2022/11/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'montserat';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url('https://fachinformatiker.github.io/wordpress_test/wp-content/uploads/2022/11/Montserrat-VariableFont_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'montserat';
	font-style: italic;
	font-weight: 200;
	font-display: auto;
	src: url('https://fachinformatiker.github.io/wordpress_test/wp-content/uploads/2022/11/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}
/* End Custom Fonts CSS */